.infoLeft{
width: 350px;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
background-color: rgb(30, 33, 58);


}
.datosClimaDia{
width: 40%;
height: 94vh;
display: flex;
flex-direction: column;

align-items: center;

}
#tempPrincipal{
    font-size: 4rem;
    padding-bottom: 30px;
    color: aliceblue;
}
#estadoClima{
    padding-bottom: 70px;
    color: rgb(204, 208, 212);
}
#today{
padding-bottom: 30px;
font-size: 1rem;
color: rgb(204, 208, 212);
}
#input{
    display: flex;
    gap: 150px;
    color: aliceblue;
    
}
#ciudad{
    display: flex;
    text-align: center;
    color: rgb(204, 208, 212);
    font-size: 0.8rem;
    height: 5px;
}
#estiloInput{
width: 120px;
text-align: center;
background-color: rgb(207, 203, 203);
cursor: pointer;

}
#location{
    
    width: 10px;
    
}
#today{
    display: flex;
    font-size:x-small;
    width: 200px;
    justify-content: center;
}

