*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    

}
main{
    min-height: 100vh;
    min-width: 1200px;
    background-color: aqua;
    display: flex;
}
.izquierdo{
    width: 30%;
    background-image: url("public/image/Cloud-background.png");
    background-repeat: no-repeat;
    background-color: black;

}